html {
    border-width: 0px;
    margin: 0em;
    padding: 0em;
}
body {
    font-family: sans-serif;
    font-size: 10pt;
    color: #f0f0f0;
    border: 0;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(96,108,136,1)), color-stop(100%,rgba(63,76,107,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* Chrome10+,Safari5.1+ */
    background: linear-gradient(top, rgba(96,108,136,1) 0%,rgba(63,76,107,1) 100%); /* W3C */
}
a {
    color: white;
}
img {
    width: 64px;
    height: 64px;
}
table {
    width: 100%;
}
td {
    padding: 0.5em;
}
td div {
    margin-top: 0em;
    margin-bottom: 0.1em;
}
#work {
    font-weight: bold;
    font-size: 12pt;
}
#footer {
    font-size: 8pt;
}
#footer a {
    padding-right: 1em;
}
